<p-progressBar [hidden]="!loading" mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<p-dialog [(visible)]="modalDialog" header="Detalhes do Registro" [transitionOptions]="'100ms'" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-4">
                <p-fieldset legend="Dados Pessoais">
                    <label>Nome</label><small class="p-error">*</small>
                    <input [(ngModel)]="selectedRegistry.name" pInputText />
                    <label>RG</label>
                    <input [(ngModel)]="selectedRegistry.rg" pInputText />
                    <label>CPF</label>
                    <input [(ngModel)]="selectedRegistry.cpf" pInputText />
                    <label>Nome da Escola</label>
                    <input [(ngModel)]="selectedRegistry.schoolName" pInputText />
                    <label>Série da Escola</label>
                    <input [(ngModel)]="selectedRegistry.schoolGrade" pInputText />
                    <label>Peso</label><small class="p-error">*</small>
                    <p-inputNumber [(ngModel)]="selectedRegistry.weight" [minFractionDigits]="0" [min]="1" [max]="250" [maxFractionDigits]="2" suffix="Kg"> </p-inputNumber>
                    <label>Altura</label><small class="p-error">*</small>
                    <p-inputNumber [(ngModel)]="selectedRegistry.height" [minFractionDigits]="0" [min]="1" [max]="250" [maxFractionDigits]="2" suffix="Cm"> </p-inputNumber>
                    <label>Senha</label><small *ngIf="!selectedRegistry.id" class="p-error">*</small>
                    <input [(ngModel)]="selectedRegistry.password" pInputText />
                    <label>Data de Nascimento</label><small class="p-error">*</small>
                    <p-calendar [(ngModel)]="birthDate" dateFormat="dd/mm/yy" [showButtonBar]="true" appendTo="body"></p-calendar>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <p-fieldset legend="Dados de Contato">
                    <label>Email</label><small class="p-error">*</small>
                    <input [(ngModel)]="selectedRegistry.email" pInputText />
                    <label>Telefone</label><small class="p-error">*</small>
                    <input [(ngModel)]="selectedRegistry.phoneNumber" pInputText />
                    <p-fieldset legend="Endereço">
                        <label>Rua</label>
                        <input [(ngModel)]="selectedRegistry.address.streetName" pInputText />
                        <label>Número</label>
                        <input [(ngModel)]="selectedRegistry.address.streetNumber" pInputText />
                        <label>Bairro</label>
                        <input [(ngModel)]="selectedRegistry.address.neighborhood" pInputText />
                        <label>Cidade</label>
                        <input [(ngModel)]="selectedRegistry.address.city" pInputText />
                    </p-fieldset>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <p-fieldset legend="Vínculos">
                    <label>Graduação</label><small class="p-error">*</small>
                    <p-dropdown
                        [options]="graduationsListbox"
                        [(ngModel)]="selectedRegistry.graduationId"
                        placeholder="Selecione um valor"
                        [filter]="true"
                        filterBy="name"
                        optionValue="code"
                        optionLabel="name"
                        appendTo="body"
                        class="w-full"
                    ></p-dropdown>
                    <p-fieldset legend="Responsável Legal">
                        <label>Nome</label><small class="p-error">*</small>
                        <input [(ngModel)]="selectedRegistry.legalParent.name" pInputText />
                        <label>Parentesco</label><small class="p-error">*</small>
                        <input [(ngModel)]="selectedRegistry.legalParent.relationship" pInputText />
                        <label>RG</label><small class="p-error">*</small>
                        <input [(ngModel)]="selectedRegistry.legalParent.rg" pInputText />
                        <label>CPF</label><small class="p-error">*</small>
                        <input [(ngModel)]="selectedRegistry.legalParent.cpf" pInputText />
                        <label>Telefone</label><small class="p-error">*</small>
                        <input [(ngModel)]="selectedRegistry.legalParent.phoneNumber" pInputText />
                    </p-fieldset>
                </p-fieldset>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
<div class="card" *ngIf="loading == false">
    <h3>Gerenciar Alunos</h3>
    <button pButton icon="pi pi-plus" label="Criar Aluno" class="p-button-success mb-3" (click)="create()"></button>
    <app-form-table [loading]="loading" [cols]="cols" [data]="data" (event)="event($event)"></app-form-table>
</div>
