<p-fieldset legend="Filtros">
    <h3>Chamada do dia 01/01/2020</h3>
</p-fieldset>
<div class="card mt-3">
    <p-dataView [value]="data" layout="grid">
        <ng-template let-object pTemplate="gridItem">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="flex align-items-center gap-2">
                            <span class="font-semibold">Faixa {{ object.graduationName }}</span>
                            <img class="w-9 shadow-2 border-round" src="https://cdn.discordapp.com/attachments/953134337094717531/1150156797236219974/image.png" [alt]="object.studentName" />
                        </span>
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <img class="w-9 shadow-2 border-round" src="https://storage.googleapis.com/tribo-davi/jiu-jitsu-infantil-interna-1024x683.jpg" [alt]="object.studentName" />
                        <div class="text-2xl font-bold">{{ object.studentName }} - {{ object.studentAge }} anos</div>
                    </div>
                    <div class="flex align-items-center justify-content-between">
                        <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"></p-selectButton>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
