<p-progressBar [hidden]="!loading" mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<p-dialog [(visible)]="modalDialog" header="Detalhes do Registro" [transitionOptions]="'100ms'" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <p-fieldset legend="Informações Gerais">
                    <label>Nome</label><small class="p-error">*</small>
                    <input [(ngModel)]="selectedRegistry.name" pInputText />
                    <label>Posição</label><small class="p-error">*</small>
                    <p-inputNumber [(ngModel)]="selectedRegistry.position" [min]="0" [maxFractionDigits]="0"> </p-inputNumber>
                    <label>Tipo</label><small class="p-error">*</small>
                    <p-selectButton [options]="stateOptions" [(ngModel)]="selectedRegistry.graduationType" optionLabel="label" optionValue="value"></p-selectButton>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <p-fieldset legend="Anexos">
                    <label>Imagem</label><small *ngIf="!selectedRegistry.id" class="p-error">*</small>
                    <p-fileUpload
                        name="file"
                        accept="image/*"
                        [customUpload]="true"
                        (onRemove)="removeFile($event)"
                        (onSelect)="onUpload($event)"
                        [showUploadButton]="false"
                        [showCancelButton]="false"
                        [multiple]="false"
                        chooseLabel="Selecionar"
                        [maxFileSize]="20000000"
                    >
                    </p-fileUpload>
                    <img class="w-full mt-4 shadow-2 border-round" [src]="selectedRegistry.url" />
                </p-fieldset>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
<div class="card" *ngIf="loading == false">
    <h3>Gerenciar Graduações</h3>
    <button pButton icon="pi pi-plus" label="Criar Graduação" class="p-button-success mb-3" (click)="create()"></button>
    <app-form-table [loading]="loading" [cols]="cols" [data]="data" (event)="event($event)"></app-form-table>
</div>
